// embed fonts
@font-face {
  font-family: "sst";
  src: url("/fonts/SSTArabic-Roman.eot");
  src: url("/fonts/SSTArabic-Roman.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/SSTArabic-Roman.woff2") format("woff2"),
    url("/fonts/SSTArabic-Roman.woff") format("woff"),
    url("/fonts/SSTArabic-Roman.ttf") format("truetype"),
    url("/fonts/SSTArabic-Roman.svg#SSTArabic-Roman") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sst";
  src: url("/fonts/SSTArabic-Bold.eot");
  src: url("/fonts/SSTArabic-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/SSTArabic-Bold.woff2") format("woff2"),
    url("/fonts/SSTArabic-Bold.woff") format("woff"),
    url("/fonts/SSTArabic-Bold.ttf") format("truetype"),
    url("/fonts/SSTArabic-Bold.svg#SSTArabic-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

// Utilities
@import "utils/variables";
@import "utils/mixins";
@import "utils/utility-classes";
// @import "1-utils/keyframes";

// Base styles
@import "base/reset";
@import "base/typography";
@import "base/theme";
@import "base/layout";
@import "base/icons";
@import "base/form-fields";
@import "base/print";
