////////////////////////////////
// reset elements
////////////////////////////////

// remove bullets & spacing from lists; use on ul
.u-list-reset {
  padding-left: 0 !important;

  > li:before {
    display: none;
  }
}

////////////////////////////////
// typography
////////////////////////////////

.u-font-xs   { @include font-xs; }
.u-font-sm   { @include font-sm; }
.u-font-md   { @include font-md; }
.u-font-lg   { @include font-lg; }
.u-font-xl   { @include font-xl; }
.u-font-xxl  { @include font-xxl; }
.u-font-xxxl { @include font-xxxl; }

.u-center {
  text-align: center;
}
.u-left-center {
  @media (min-width: $bp-md) {
    text-align: center;
  }
}

////////////////////////////////
// spacing
////////////////////////////////

.u-margin-top, 
.u-margin-top-md { margin-top: $sp-md !important; }
.u-margin-top-sm { margin-top: $sp-sm !important; }
.u-margin-top-lg { margin-top: $sp-lg !important; }

.u-margin-bottom, 
.u-margin-bottom-md { margin-bottom: $sp-md !important; }
.u-margin-bottom-sm { margin-bottom: $sp-sm !important; }
.u-margin-bottom-lg { margin-bottom: $sp-lg !important; }

////////////////////////////////
// hide content
////////////////////////////////

// for screen readers
.u-visually-hidden {
  @include visually-hidden;
}

// hide on small screens
.u-hide-below-md {
  @media (max-width: $bp-md - 0.001) {
    display: none !important;
  }
}

// hide on large screens
.u-hide-above-nav {
  @media (min-width: $bp-nav) {
    display: none !important;
  }
}
.u-hide-above-md {
  @media (min-width: $bp-md) {
    display: none !important;
  }
}